* {
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: unset;
    outline: unset;
    border: unset;
}

h1{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
body {
    height: 100%;
    width: 100%;
    background-color: aliceblue;
}
    article{
        box-shadow: 2px 2px 7px black;
        border-radius: 20%;
        border: 2px solid black;
    }
    button {
      cursor: pointer;
    }
    .main {
      max-width: 700px;
      width: 80%;
      margin: 100px auto;
    }
    form {
      width: 100%;
      position: relative;
      margin-bottom: 40px;
    }
    form input {
      width: 100%;
      height: 60px;
      background-color: #f6f6f6;
      border-radius: 5px;
      padding: 0px 60px 0px 18px;
      font-weight: 500;
      font-size: 16px;
      color: rgb(138, 125, 125);
      box-shadow: 2px 2px 7px black;
      border: 2px solid black;
    }
    form input::placeholder {
      color: #999;
      opacity: 0.7;
    }
    form button {
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      right: 12px;
      transform: translateY(-50%);
      background-color: #000;
      color: #fff;
      cursor: pointer;
    }
    form button svg {
      transition: 0.15s ease-in;
    }
    form button:hover svg {
      transform: rotate(45deg);
    }
    h1 {
      padding: 24px 0px;
      font-weight: 500;
      font-size: 40px;
      color: #000;
      text-align: center;
    }
    .to-do-list-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative;
    }
    .to-do-list-grid {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 16px;
    }
    .button-grid {
      height: 35px;
      width: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      margin-left: 12px;
      transition: 0.15s ease-in;
      background-color: #f6f6f6;
    }
    .button-grid:hover {
      background-color: #000 !important;
      color: #fff !important;
    }
    .button-grid-active {
      background-color: #000 !important;
      color: #fff !important;
    }
    .to-do-list-item {
      width: 100%;
      position: relative;
      background-color: #f6f6f6;
      padding: 16px 64px 16px 24px;
      margin-bottom: 16px;
      border-radius: 4px;
    }
    .to-do-list-item::after {
      content: "";
      flex: auto;
    }
    .to-do-list-item h2 {
      font-weight: 500;
      font-size: 24px;
      color: #333;
    }
    .to-do-list-delete {
      height: 35px;
      width: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      background-color: transparent;
      position: absolute;
      top: 50%;
      right: 12px;
      transform: translateY(-50%);
      background-color: transparent;
      color: #ff3f00;
      transition: 0.15s ease-in;
    }
    .to-do-list-delete:hover {
      background-color: #ff3f00;
      color: #fff;
    }
    @media (max-width: 991px) {
      .main {
        width: 80%;
        margin: 100px auto;
      }
    }
    @media (max-width: 768px) {
      .main {
        width: 88%;
        margin: 80px auto;
      }
      form {
        margin-bottom: 35px;
      }
    }
    @media (max-width: 576px) {
      .main {
        width: 95%;
        margin: 50px auto;
      }
      form {
        margin-bottom: 25px;
      }
    }   
#warna1{
    margin-left: 20px;
    width: 20%;
    height: 50%;
    font-size: 15px;
    background-color: #99FEFF;
    border-radius: 10%;
    float: left;
    border: solid black;
    box-shadow: 2px 2px 5px black;
    font-weight: bold;

}
#warna2{
    width: 20%;
    height: 50%;
    font-size: 15px;
    background-color: #FF6D6D;
    border-radius: 10%;
    border: solid black;
    float: left;
    margin-left: 20px;
    box-shadow: 2px 2px 5px black;
    font-weight: bold;
}
#warna3{
    width: 20%;
    height: 50%;
    font-size: 15px;
    background-color: #2FDD92;
    border-radius: 10%;
    border: solid black;
    float: left;
    margin-left: 20px;
    box-shadow: 2px 2px 5px black;
    font-weight: bold;
    margin-bottom: 20px;
}
.atur{
    margin-left: -18px;
}
